body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    touch-action: pan-y;
}

#root {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    touch-action: pan-y;
}

input[type='text'],
input[type='number'],
textarea,
select {
    font-size: 16px;
}


/* Target scrollbar for all elements */
::-webkit-scrollbar {
    width: 3px;
    height: 12px;
}


::-webkit-scrollbar:horizontal {
    background: var(--sec-color);
    border-radius: 5px;
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track:horizontal {
    background: #3e3a3ac5;
    border-radius: 8px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
    background: #3e3a3ac5;
    border-radius: 8px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: var(--sec-color);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #27ae60;
}


.whatsapp {
    font-size: 2.2em;
    position: fixed;
    right: 15px;
    bottom: 75px;
    z-index: 99;
    width: fit-content;
    padding: 3px;
    box-sizing: border-box;
}

.whatsapp .appicx {
    color: #008000;
    border-radius: 100%;
    background-color: white;
    /* border: 2px solid white; */
    box-shadow: 0px 0px 3px gray;
    box-sizing: border-box;
    margin-right: 5px;
    font-size: 1.25em;
}

.telegramme {
    font-size: 2.8719em !important;
    position: fixed;
    left: 15px;
    bottom: 70px;
    z-index: 99;
}

.teleapp {
    color: #2c75e2;
    border-radius: 100%;
    padding: 2px;
    background-color: white;
    /* border: 2px solid white; */
    box-shadow: 0px 0px 3px gray;
    box-sizing: border-box;
    font-size: 1.25em;
}


@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}